<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FakeTV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FakeTV.Properties.Settings>
            <setting name="PlexIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PlexPort" serializeAs="String">
                <value>32400</value>
            </setting>
            <setting name="PlexToken" serializeAs="String">
                <value />
            </setting>
            <setting name="VLCexe" serializeAs="String">
                <value />
            </setting>
            <setting name="StartPort" serializeAs="String">
                <value>8080</value>
            </setting>
            <setting name="HideVLC" serializeAs="String">
                <value>False</value>
            </setting>
        </FakeTV.Properties.Settings>
    </userSettings>
</configuration>